VITE_SUPABASE_URL=https://hgygjnaaubupfcapeakx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhneWdqbmFhdWJ1cGZjYXBlYWt4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4MTQwMjIsImV4cCI6MjA5MzM5MDAyMn0.5OPMheypXr2zltjrFEIcjm0oE507rndtbnIgReXA-5U
